* {
  box-sizing: border-box;
}

body {
  --cell-dimension: 50px;
  
  display: grid;
  place-content: center;
  background-color: #111;
  margin: 0;
  min-height: 100vh;
}

.App {
  position: relative;
  background-color: #333;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

.App-logo {
  --x-pos: 0;
  --y-pos: 0;
  
  position: absolute;
  width: var(--cell-dimension);
  height: var(--cell-dimension);
  top: calc(var(--y-pos) * var(--cell-dimension));
  left: calc(var(--x-pos) * var(--cell-dimension));
}

.grid-cell {
  width: var(--cell-dimension);
  height: var(--cell-dimension);
  border: 1px solid darkred;
}